.cell-cover{
    padding: 50px 50px;
    .cell{
        display: flex;
        flex-direction: column;
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 0;
            text-decoration: underline;
        }
        .court-item{
            display: flex;
            flex-direction: column;
        }
        table{
            margin-top: 60px;
            margin: 0 auto;
            width: 80%;
            padding: 20px 20px;
            background-color: rgb(224, 224, 223);
            tr{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
            }
        }
    }
}
mat-form-field{
    width: 100%;
}