<div class="cell-cover">
    <div class="cell">
        <h2>Case Outcomes</h2>
            <div class="court-item">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Case Number</mat-label>
                    <mat-select formControlName="station">
                        <mat-option>David
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Case Outcome</mat-label>
                    <mat-select formControlName="station">
                        <mat-option>d
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="full-width align">
                    <h3><input type="checkbox" formControlName="takeFingerPrint"></h3>
                    <h3>IsClosed</h3>
                </div>
            </div>
        <table>
            <tr>
                <th>Case Number</th>
                <th>Case Outcomes</th>
                <th>Closed</th>
            </tr>
            <tr>
                <td>3</td>
                <td>David Arusi</td>
                <td>False</td>
            </tr>
        </table>
    </div>
</div>
