.mat-form-field{
    width: 48%;
    padding: 1%;
}
.example-form{
    display:flex;
    flex-direction:column;
    .full-width{
        display: flex;
        mat-form-field{
            width: 100%!important;
        }
        .spacer{
            width: 30px;
        }
    }
}
.my-table{
    padding: 20px 20px;
    margin: 30px 30px;
}
.form-control{
    width: 120px;
    border-radius: 8px;
    padding: 5px;
}
.noSeen{
    display: none;
}
td{
    padding: 3px;
    border: 1px solid gray;
}
.deletedRed{
    color: red;
    font-size: 16px;
    padding: 3px 3px;
}
.flexDis{
    display: flex;
    flex-direction: column;
    .deletedRed{
        color: red;
        font-size: 16px;
        padding: 3px 3px;
    }
}
.disNone{
    display: none;
}
