<div class="cell-cover">
    <div class="cell">
        <h2>Assign Cases to officer</h2>
        <div class="cell-form">
            <div class="court-item">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Case Number</mat-label>
                    <mat-select formControlName="station">
                        <mat-option>David
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Officers Name</mat-label>
                    <mat-select formControlName="stations">
                        <mat-option>davis
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <table>
            <tr>
                <th>Case number</th>
                <th>Officers Name</th>
            </tr>
            <tr>
                <td>103/2/2015</td>
                <td>David Arusi</td>
            </tr>
        </table>
    </div>
</div>
