.mat-elevation-z8{
    width: 1100px;
}
.my-table{
    margin: 30px 30px;
}
:host {
    display: block;
    padding: 2rem 3rem;
  }
  .court-item{
    display: flex;
  }
mat-form-field {
    width: 100%;
  }