<div class="profile-cover">
    <div class="profile">
        <div class="prof-image">
            <img src="../../assets/images (29).jpeg" alt="profile-image">
        </div>
        <div class="prof-details">
            <table>
                <tr>
                    <th>First Name</th>
                    <td>David</td>   
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>Ochieng</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>254703525414</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>oyayodavid698@gmail.com</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td><span>True</span></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>User</td>
                </tr>
            </table>
      
        </div>
    </div>
</div>
