<div class="dash-cover">
    <div class="dash">
        <div class="dash-items">
            <div class="dash-item one">
                <h1>12</h1>
                <p>No of Witnesses</p>
            </div>
            <div class="dash-item two">
                <h1>22</h1>
                <p>No of Suspects</p>
            </div>
            <div class="dash-item three">
                <h1>30</h1>
                <p>No of Officers</p>
            </div>
            <div class="dash-item four">
                <h1>14</h1>
                <p>No of Cases</p>
            </div>
            <div class="dash-item five">
                <h1>4</h1>
                <p>Completed cases</p>
            </div>
            <div class="dash-item six">
                <h1>10</h1>
                <p>Open cases</p>
            </div>
            <div class="dash-item seven">
                <h1>1</h1>
                <p>No of Users</p>
            </div>
            <div class="dash-item eight">
                <h1>5</h1>
                <p>No of Arrests</p>
            </div>
        </div>
        <div class="graph">
            <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
          </div>
    </div>
    
</div>
