.mat-elevation-z8{
    width: 1100px;
}
.my-table{
    margin: 30px 30px;
}
:host {
    display: block;
    padding: 2rem 3rem;
  }
mat-form-field {
    width: 500px;
    margin: 0 auto;
    display: block;
    transform: scale(1.3);
  }