.report-cover{
    padding: 40px 40px;
    .report{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        box-shadow: rgba(161, 160, 160, 0.35) 0px 5px 15px;
        h2{
            color: rgb(122, 12, 18);
        }
        .comp-cover{
            padding: 30px 30px;
            .comp{
                display: flex;
                justify-content: center;
                table{
                    width: 100%;
                    box-shadow: rgba(161, 160, 160, 0.35) 0px 5px 15px;
                    padding: 10px 10px;
                    font-size: 15px;
                    tr{
                        padding: 10px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        .separator{
                            display: flex;
                            width: 45%;
                            justify-content: space-between;
                            .last{
                                display: flex;
                                flex-direction: column;
                            }
                            .cases{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                .case{
                                    display: flex;
                                    flex-direction: column;
                                    padding-bottom: 15px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        .witness-cover{
            padding: 30px 30px;
            .witness{
                display: flex;
                justify-content: center;
                table{
                    width: 100%;
                    box-shadow: rgba(161, 160, 160, 0.35) 0px 5px 15px;
                    padding: 10px 10px;
                    font-size: 15px;
                    tr{
                        padding: 10px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        td{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}